cleanersweb/cleanersweb/App_WebReferences/ServiceReference1/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfcleaners.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfcleaners.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperatorsJob">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorsJob" nillable="true" type="tns:OperatorsJob" />
  <xs:complexType name="Operator">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JobType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shift" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operator" nillable="true" type="tns:Operator" />
  <xs:complexType name="ArrayOfMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Machine" nillable="true" type="tns:Machine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachine" nillable="true" type="tns:ArrayOfMachine" />
  <xs:complexType name="Machine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Efficiency" type="xs:double" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Machine" nillable="true" type="tns:Machine" />
</xs:schema>